
/*
    =====================
        Website Header
    =====================
*/

    *
    {
        margin: 0;
        font-size: 1.1rem;
    }

    img
    {
        width: 25rem;
        height: 10rem;
    }

    #website-header
    {
        color: white;
        grid-area: header;
        text-align: center;
        padding-top: 2rem;
        background-color: rgb(101, 67, 121);
    }

    /*
        =====================
            Website Body
        =====================
    */

    #blog-entry-one
    {
        grid-area: blog-one;
        background-color: rgb(196, 196, 196);
    }

    #blog-entry-two
    {
        grid-area: blog-two;
        background-color: white;
    }

    #blog-entry-three
    {
        grid-area: blog-three;
        background-color: rgb(196, 196, 196);
    }

    #about-website
    {
        grid-area: sidebar;
        background-color: rgb(193, 140, 224);
    }


    /*
        =====================
            Footer Website
        ---------------------
    */

    #footer-website
    {
        color: white;
        grid-area: footer;
        text-align: center;
        padding: 4rem;
        background-color: rgb(101, 67, 121)
    }


    .container
{
    display: grid;
    grid-template-rows: 10rem 15rem;
    grid-template-columns: 75% 25%;
    grid-template-areas:
        "header header"
        "blog-one sidebar"
        "blog-two sidebar"
        "blog-three sidebar"
        ". sidebar"
        "footer footer";
}
